<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Scrabble</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
    <h1 class="jumbotron">How Many Scrabble Points Is Your Word?</h1>
    <div>
      <form id="formOne" action="/scrabble">
        <div class="form-group">
          <label for="word">Your Word :</label>
          <input id="word" name="word" class="form-control" type="text">
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  </body>
</html>